@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.questions {
    display: grid;
    place-items: center;
}

.section-center {
    max-width: 620px;
}

.title {
    margin-top: 15vh;
    margin-bottom: 4rem;
}

.title h2 {
    color: brown;
    text-align: center;
}

.question {
    background-color: #FFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.question-title p {
    margin-bottom: 0;
    color: rgb(126, 126, 126);
    letter-spacing: 0.20rem;
}

.question-btn {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.3rem;
    margin-left: 2rem;
    color: rgba(88, 22, 22, 0.863);
    cursor: pointer;
    transition: all 0.3s linear;
}

.question-btn:hover {
    transform: rotate(90deg);
}

.question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
    margin-bottom: 0;
}


.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
}

.minus-icon {
    display: none;
}

.show-text .minus-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}